<app-header></app-header>
<div class="container-fluid">
 <div id="banner">
    <img src="../assets/BannerBienvenida.jpg" class="img-fluid" alt="Responsive image">
 </div>

  <hr>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <form action="">
    <input type="search">
    <i class="fa fa-search"></i>
  </form>


</div>
<router-outlet></router-outlet>